*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noah Regular', sans-serif;
    font-style: normal;
    font-weight: normal;

    position: relative;

    font-size: 16px;
    line-height: 20px;

    background-color: rgba(246, 249, 254);
    color: #686F91;
}
a{
    font-family: 'Noah Regular', sans-serif;
}

ul, li{
    display: block;
}

img{
    display: block;
}

.hide{
    display: none;
}
.filter-submit{
    margin-left: 10px;
}
.btn-submit{
   background-color:  #37A8FA;

}
.exit__link{
    color: #fff;
}
.exit__link:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

/********* HEADER *********/

.header{
    background-color: #272E50;
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
}



/* *********************************************************    SUPERADMIN   **********************************************************************/
/********* APPLICATIONS *********/
.login-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

            
}
.title-block{
    background: white;
    padding-bottom: 13px;
}

.title{
        font-weight: bold;
        font-size: 49px;
        line-height: 61px;

        color: #131E52;

}

.menu-link{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #131E52;

}
.menu-link:hover{
    color:#131E52; 
    text-decoration: none;
    opacity: 0.9;
}

.menu-link--active{
    border-bottom: 4px solid #37A8FA;
}

.status-rate{
    width: 20%;
}

/********* FILTER *********/
.filter{
    display: none;
}
.filter-btn{
    background-color: #44B2BD;
    color: #fff;
    padding: 15px 0;
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
}

.download-doc{
    background-color: #A19F9F;
    border: none;
}


.filter-btn::after{
    position: absolute;
    top: 45%;
    left: 59%;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 0;
    background: url(/static/styles/images/search/filter.svg) no-repeat;
}

.app-search{
    border-radius: 5px;
    outline: none;
    background: url(/static/styles/images/search/search.svg) no-repeat;


    background-position-y: center;
    background-position-x: 10px;
    padding: 18px 35px;
    font-size: 13px;
    margin-bottom: 10px;
}


.desktop-nav{
    display: block;

}

/********* CLIENTS *********/
.client, .psy, .rate__block{
    background-color: #fff;
    border: 1px solid #E3E8F5;
    border-radius: 5px;
    margin-top: 80px ;
    padding-bottom: 30px;
}

 .psy__status, .feedback__status, .add-doc-btn{
    color: #fff;
    background-color: #272E50;
    border-radius: 5px;
    padding: 7px 14px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.add-doc-btn{
    padding: 10px 14px;
}
.psy__status{
    width: 40%;
    background-color: #53B526;
}
.feedback__status{
    width: 50%;
    background-color: #53B526;
}

.gender, .me-prof span{
    background-color: #9BA8E3;
    border-radius: 100px;
    padding: 3px 14px;
    color: #fff;
}

.about__link{
    font-size: 16px;
    line-height: 21px;

    color: #454545;
}

.about__item{
    background: #fff;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.status-btn{
    width: 100%;
    background-color: rgba(231, 136, 48, 0.28);
    border: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #272E50;
}


.psy-form-status, .feedback-require-btn{
    padding: 6px 14px;
    background: #272E50;
    border-radius: 5px;
    color: #fff;

}

/*********   FOOTER   *********/

.page-link{
    color: #000;
    padding: 10px 14px;
}

.page-item{
    width: 100%;
}

.page-link--active{
    background: #37A8FA;
    color: #fff;
    border-radius: 5px;
}

.all{
    line-height: 15px;

    font-size: 14px;

    color: #686F91;
}

/********* MODAL MENU *********/
.menu-modal{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(39, 46, 80, 0.6);
}
.menu-modal .nav{
    width: 100%;
    position: fixed;
    top: 65px;
    z-index: 2;
}

.menu-modal .nav-link{
    padding-top: 19px;
    padding-bottom: 19px;
}

.menu-modal .nav-item{
    background-color: #fff;
}

.menu-modal a{
    color: #131E52;
}

.nav-link{
    font-family: 'Noah Regular', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}
.menu-modal{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #454545;
}

.menu-modal .nav-item:last-child a{
    color: #CC532D;;
}

/********* DESKTOP FILTER*********/

.filter-desktop-inp-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #131E52;
    margin-bottom: 5px;
}


/* .filter-desktop-inp-title option, .filter-desktop-inp-title input{
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
    color: #686F91;
} */

.filter-desktop input, .filter-desktop select{
    margin-bottom: 0;
}

.filter-desktop-rate select{
    width: 220px;
}

.status{
    margin-bottom: 0;
}

.download-block{
    width: 35%;
}

.download-btn{
    width: 45%;
    padding: 9px 20px;

    border: none;

    font-size: 16px;
    line-height: 20px;

    background: #44B1BD;
    border-radius: 5px;

    letter-spacing: 0.01em;

    color: #FFFFFF;
}
/********* DESKTOP FORM *********/
.border{
    border-radius: 5px;
    padding: 16px 19px;
}
/********* MODAL FILTER*********/

.show{
    display: block;
}

.modal{
    position: flex;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding-top: 45px;
    background-color: #f7f7f7;
}

.select{
    border-radius: none;
    outline: none;
    box-shadow: none;
}


.filter-search::after{
    display: none;

}

.filter-search{
    background-color: #37A8FA;
}

.modal__close{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 19px;
    margin-top: 19px;
}


/********* App-FORM *********/

.form{
    background-color: #fff;
}

.form-control{
    background: #F6F9FE;
}


 input, textarea,  select{

    border: 1px solid #E3E8F5;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 7px 14px;
    resize: none;
}


.input__block{
    position: relative;
}
.delete{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    padding: 5px 10px;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
}





.app-gender-form{
    position: absolute;
    background-color: #9BA8E3;
    border-radius: 100px;
    padding: 3px 14px;
    color: #fff;
    bottom: 4px;
    right: 2px;
}


.title-input{
    margin-bottom: 0;
    margin-top: 15px;
}

.status-btn{
    width: 100%;
    background-color: rgba(231, 136, 48, 0.28);
    border: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #272E50;
}

.date-time{
    background: #F6F9FE;
    border: 1px solid #E3E8F5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7px 16px;
}

.list__spec .table-require-cell{
    display: block;
    margin-right: 10px;
}


.input-active-request, .input-over-request{
    width: 100%;
    padding: 7px 8px;
    margin-right: 0;
}


.show-document{
    background: #F6F9FE;
    border-radius: 5px;
    margin-right: 20px;
    height: 87%;
}
.download-document{
    border-radius: 5px;
    text-align: center;
    background: #F6F9FE;
    border: 2px dashed #B2B7CA;
    padding: 30px 20px;
}

.form-btn{
    padding: 17px 25px;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
    background-color: #37A8FA;;
}

.main-form-btn{
    width:50%;
    padding: 17px 10px;
}

.feedback__detail-btn{
    margin-top: 36px;
}

.detail-btn{
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #37A8FA;
}

.input-vs-btn{
    position: relative;
}

.btn-in-input{
    position: absolute;
    right: 5px;
    top: 26px;
    background: #2A7FBD;
    color: #D0E9FD;
    padding: 3px 11px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
}
.denied{
    right: 40px;
}
.apply{
    background: url(/static/styles/images/form/apply-btn.svg) no-repeat;
    background-position: center;
    padding: 13px 15px;

}

.edit{
    background-color: #37A8FA;
    color: #fff;
    padding: 5px 20px 5px 20px;
    top: 24px;
    right: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.edit:hover{
    background: rgba(55, 168, 250, .8);
}

.consultation-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    color: #131E52;
}
.change{
    background-color: rgba(55, 168, 250, 0.2);
    color: #2A7FBD;
}
.change:hover{
    color: #fff
}


/********* PSYCHOLOGIESTS *********/

.remove-doc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
    top: -20px;
    padding: 10px 13px;
    background-color: #ccc;
    border-radius: 70%;
}

.drag{
    display: flex;
}
.drag-title{
    display: block;
}

.psychologists{
    display: none;
}

/********* EDIT *********/
.edit-title, .cons-title{

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;

    color: #454545;

}

.textarea-feedback{
    border: 1px solid black;
}

.psy-feedback-btn{
    background-color: #272E50;
    color: #fff;
    padding: 7px 25px;
    border-radius: none;
}

.form-main-btn{
    background-color: #E87C87;
    color: #fff;
}


/********* FEEDBACK   ********/

.item-title{
    font-size: 14px;
    line-height: 16px;

    color: #9BA8E3;
}
.feedbacks{
    display: none;
}

/********* RATE FORM ********/
.comment-time{
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

}
.rate__block{
    display: none;
}

.rate__block li{
    background: #F6F9FE;
    border: 5px;
    margin-top: 10px;
}

.rate__block li:first-child{
    background: none;
}

/********* TABLE ********/

table{
    font-family: 'Noah Regular', sans-serif;
    font-style: normal;
    border: 1px solid #E3E8F5;
}

thead{
    background: #37A8FA;
    color: #fff;
}

thead th{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.01em;
}
td{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #686F91;
}
tbody tr, tbody td{
    cursor: pointer;
}

tbody tr:hover, tbody td:hover{
    background-color: #ccc!important;
}

.row-custom{
    cursor: pointer;
}

.cell{
    border-radius: 100px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #686F91;
}
.table-require-cell, .reason{
    background: #44B2BD;
    font-size: 16px;
    color: #fff;
    padding: 6px 15px;
    border-radius: 100px;
}
.table-cell-status{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.processing{
   background:  #37A8FA;
}

.completed{
    background-color:#1EC661;
}
.no_answer{
    background-color: #DB866D;
}

.created{
    background-color: #FAAC37;;
}
.consultation{
    background: #F6F9FE;
    border: 1px solid #E3E8F5;
    border-radius: 5px;
}

.buttons .btn{
    width: 45%;
}

/* Login */
.form-group{
    position: relative;
}
.eye-close, .eye-open{
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.log-in button{
    font-size: 20px;
}
.user{
    display: none;
}
.user img{
    display: none;
    color: #fff;
}
.app__clients{
    display: none;
}
.for-mobile{
    display: none;
}


@media only screen and (max-width: 1024px){
    .app__clients{
        display: block;
    }
    .table{
        display: none;
    }
    .for-mobile{
        display: block;
    }
/* 
    thead{
        display: none;
    }*/
    
    /* td{
      display: block  ;
      padding: 0;
      border-top: none!important; 
      width: 100%;
    }  */
    .sign-in{
        background: #fff;
    }
    .form{
        width: 100%;
    }
    .filter{
        display: block;
    }
    .filter-desktop {
        display: none;
    }
    .header{
        position: relative;
    }
    
    .user img{
        display: block;
    }
    .user{
        display: block;

    }
    .desktop-nav{
        display: none;

    }
    .psychologists{
        display: block;
    }
    .rate__block{
        display: block;
    }
    .feedbacks{
        display: block;

    }

    .drag{
        display: none;
    }
    .drag-title{
        display: none;
    }



}

 

@media only screen and (max-width: 390px){
    .menu-link{
        font-size: 16px;
    }
    .reason{
        display: inline;
        font-size: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
    }


}


@media only screen and (max-width: 320px){
    .filter-btn::after{
        left: 60%;
    }

    .page-link{
        padding: 9px;
    }
    .reason{
        display: inline;
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

