<!--expert_comment_list.html-->

<div class="row my-2 mx-auto">
    <div class="col-3 text-right border-right border-dark">Коментарі</div>
    <div class="col-9 pl-4">
        <div class="row bootstrap snippets">
            <div class="col-md-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form class="form" action="/admin/expert/{{ .expert.id }}/comment" method="POST">
                                <textarea class="form-control" placeholder="залишити коментар..." name="body" rows="3"></textarea>
                                <br/>
                                <button type="submit" class="btn btn-info pull-right">Коментувати</button>
                            </form>
                            <br>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                {{ range $i, $comment := .comments }}
                                <li class="media">
                                    <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ $comment.created_at }}</small>
                                </span>
                                        <strong class="text-success">{{ $comment.admin_username }}</strong>
                                        <p>{{ $comment.body }}</p>
                                    </div>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>