<!--expert_list.html-->

{{ template "header.html" . }}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            {{ template "expert_filters.html" . }}
        </div>

        <div class="col-sm-9">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="panel-title">Психологи</h3>
                </div>
            <div class="card-body">
                <div class="alert alert-secondary" role="alert">
                    Всього вибрано: {{ .data.total }} психологів. {{ .pagination.page.TotalPages }} сторінок.
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Ім'я</th>
                            <th>Стать</th>
                            <th>Телефон</th>
                            <th>Email</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $i, $item := .data.items }}
                            <tr class="table-row">
                                <td class="table-div" data-href="/admin/expert/{{ $item.id }}">{{ $item.username }}</td>
                                {{ $gender := $item.gender }}
                                {{ with (eq $gender "male") }}<td class="text-center table-div" data-href="/admin/expert/{{ $item.id }}"><span class="badge badge-pill badge-info">Чол.</span></td>{{ end }}
                                {{ with (eq $gender "female") }}<td class="text-center table-div" data-href="/admin/expert/{{ $item.id }}"><span class="badge badge-pill badge-primary">Жін.</span></td>{{ end }}
                                <td class="table-div" data-href="/admin/expert/{{ $item.id }}">{{ $item.phone }}</td>
                                <td class="table-div" data-href="/admin/expert/{{ $item.id }}">{{ $item.email }}</td>
                                {{ $status := $item.status }}
                                {{ with (eq $status "on_review") }}<td class="text-center table-div" data-href="/admin/expert/{{ $item.id }}"><span class="badge badge-pill badge-warning">На модерації</span></td>{{ end }}
                                {{ with (eq $status "blocked") }}<td class="text-center table-div" data-href="/admin/expert/{{ $item.id }}"><span class="badge badge-pill badge-danger">Заблокований</span></td>{{ end }}
                                {{ with (eq $status "active") }}<td class="text-center table-div" data-href="/admin/expert/{{ $item.id }}"><span class="badge badge-pill badge-success">Активний</span></td>{{ end }}

                                <td class="text-center">
                                    <!-- Button trigger modal -->
                                    <a class="btn btn-secondary btn-sm {{ if (eq $item.status "blocked")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="blockExpertAPI(this)" role="button">Блокувати</a>
                                    <a class="btn btn-success btn-sm {{ if (eq $item.status "active")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="activateExpertAPI(this)" role="button">Активувати</a>
                                </td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                    {{ template "expert_pagging.html" .pagination }}
                </div>
            </div>

        </div>
    </div>
    </div>
</div>

{{ template "footer.html" . }}
