{{/*    <!-- FILTER SEARCH -->*/}}
    <section class='filter mt-3'>
        <div class="container">
            <div class=" row filter__wrap">
                <div class="col-12 d-flex flex-column-reverse">
                    <div class="filter__btn d-flex flex-column justify-content-center">
                        <button type='button' class='filter-btn'>Фільтр</button>
                    </div>
                    <form class="mb-2 mt-2" action="/admin/expert" method="GET">
                        <p class="status-title mb-0 text-dark">Пошук</p>
                        <input class='search' type="text" id="search" name="search" placeholder="ID. Ім'я. Тлф" value="{{ .queries.search }}">
                        <div class="filter__btn d-flex flex-column justify-content-center mt-1">
                            <button type='submit' class='filter-btn processing filter-search'>Пошук</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{/*   <!-- FILTER MODAL -->*/}}
    <section class="modal">
        <div class="modal__wrap">
            <div class="title-block pl-3 bg-white">
                <div class="modal__close">
                    <img src="/static/styles/images/search/close.svg" class='close' alt="modal-close">
                </div>
                <div class="title__item mb-4">
                    <h1 class="title">Фільтр</h1>
                </div>
            </div>
            <form class="pl-3 pr-3" action="/admin/expert" method="GET">
                <div class="status mb-3 ">
                    <p class=" mb-0">Статус</p>
                    <select id="status" name="status" class='bg-white select status-select form-control mt-1'>
                        <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                        <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                        <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                        <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                    </select>
                </div>
                <div class="sort mb-3">
                    <p class=" mb-0">Сортувати по</p>
                    <select id="specializations" name="specializations" class='select spec-select form-control mt-1'>
                        <option value="Всі">Вибрати зі списку</option>
                        {{ range $spec, $specOpt := .queries.specializations }}
                        <option {{ if $specOpt.Selected }} selected {{ end }} value="{{ $spec }}">{{ $specOpt.Translated }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="filter__btn d-flex flex-column justify-content-center mt-5 mb-4">
                    <button type='submit' class='filter-btn processing filter-search'>Пошук</button>
                </div>
                
            </form>
        </div>
</section>

{{/*    <!-- Filter DESKTOP -->*/}}
    <section class='filter-desktop '>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <form action="/admin/expert" method="GET" class='d-flex align-items-center justify-content-between'>
                        <div class="filter__search mt-3 mr-3 w-100">
                            <p class="search-title filter-desktop-inp-title mb-2">Пошук</p>
                            <input class='search' type="text" id="search" name="search" placeholder="ID. Ім'я. Тлф" value="{{ .queries.search }}">
                        </div>
                        <div class="status mr-3 mt-3 mr-0 w-100">
                            <p class="status-title mb-2 filter-desktop-inp-title">Статус</p>
                            <select id="status" name="status" class='select bg-white status-select'>
                                <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                                <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                                <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                                <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                            </select>
                        </div>
                        <div class="spec mt-3 mb-0 mr-3 w-100">
                            <p class="spec-title mb-2 filter-desktop-inp-title">Спеціалізація</p>
                            <select id="specializations" name="specializations" class='select  bg-white spec-select'>
                                <option {{ if not .queries.specializations }} selected {{ end}} value="">Всі</option>
                                {{ range $spec, $specOpt := .queries.specializations }}
                                <option {{ if $specOpt.Selected }} selected {{ end }} value="{{ $spec }}">{{ $specOpt.Translated }}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class='col-lg-1  filter-submit d-flex justify-content-center mt-5 ml-3'>
                            <button type="submit" class='expert-btn btn btn-submit text-white'>Вибрати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {{/* 
<!-- <div class="card shadow">
    <article class="card-group-item">
        <header class="card-header">
            <h3 class="title">Фільтри</h3>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <form class="form" action="/admin/expert" method="GET">
                    <label for="search">ID, Ім'я, EMail або Телефон</label>
                    <input class="form-control clearable" id="search" name="search" type="text" placeholder="Пошук" value="{{ .queries.search }}">
                    <hr/>
                    <label for="status">Статус</label>
                    <select class="custom-select" id="status" name="status">
                        <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                        <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                        <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                        <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                    </select>
                    <br/>
                    <hr/>
                    <label for="specializations">Спеціалізації </label>
                    <select multiple class="custom-select" id="specializations" name="specializations">
                        {{ range $spec, $specOpt := .queries.specializations }}
                        <option {{ if $specOpt.Selected }} selected {{ end }} value="{{ $spec }}">{{ $specOpt.Translated }}</option>
                        {{ end }}
                    </select>
                    <br/>
                    <hr/>
                    <button type="submit" class="btn btn-primary">Вибрати</button>
                </form>
            </div>
        </div>
    </article>
</div> -->
*/}}