{{/*<!--expert_rating_list.html-->*/}}

{{ template "header.html" . }}

{{/*<!-- TITLE -->*/}}
{{ template "title.html" . }}

{{ template "expert_rating_filters.html" . }}

{{/*<!-- MAIN TABLE desktop version-->*/}}
<section class="main mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead >
                    <tr>
                        <th class='rounded-left pl-3'>Психолог</th>
                        <th class='pl-2'>Кількість відгуків</th>
                        <th class='pl-2'>Середня оцінка</th>
                        <th class='pl-2'>Сесій проведено</th>
                        <th class='pl-2'>Заявок завершено</th>
                        <th class='pl-2'>Заявок в роботі</th>
                        <th class='rounded-right pl-2'>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $item := .data.items }}
                    <tr class="row-custom" data-href="/admin/expert/{{ $item.id }}">
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0">{{ $item.username }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0">{{ $item.review_count }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0">{{ $item.average_rating }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4 d-flex justify-content-start ' >
                            {{ $item.session_count }}
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0">{{ $item.completed_count }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0">{{ $item.processing_count }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4'>
                            {{ $status := $item.status }}
                            {{ with (eq $status "on_review") }}<p class="cell mb-0 table-require-cell d-inline table-cell-status created">на модерації</p>{{ end }}
                            {{ with (eq $status "blocked") }}<p class="cell mb-0 table-require-cell d-inline table-cell-status completed">заблокований</p>{{ end }}
                            {{ with (eq $status "active") }}<p class="cell mb-0 table-require-cell d-inline table-cell-status no_answer">активний</p>{{ end }}
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                <div class="for-mobile">
                    {{ range $i, $item := .data.items }}
                    <div class="row-custom rate__block about mt-3 mb-3 pb-3 pt-4"  data-href="/admin/expert/{{ $item.id }}">
                        <ul class="about__list ml-4 mt-2 mb-2 d-flex flex-column">
                            <li class=" d-flex mb-3 ml-1 flex-column">
                                <p class="item-title mb-1">Психолог</p>
                                <a href="#" class="about__link mr-2">{{ $item.username }}</a>
                            </li>
                            <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                                <p class="item-title mb-1">Кількість відгуків</p>
                                <div class="count">{{ $item.review_count }}</div>
                            </li>
                            <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                                <p class="item-title mb-1">Середня оцінка</p>
                                <div class="count">{{ $item.average_rating }}</div>
                            </li>
                            <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                                <p class="item-title mb-1">Сесій проведено</p>
                                <div class="count">{{ $item.session_count }}</div>
                            </li>
                            <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                                <p class="item-title mb-1">Заявок завершено</p>
                                <div class="count">{{ $item.completed_count }}</div>
                            </li>
                            <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                                <p class="item-title mb-1">Заявок в роботі</p>
                                <div class="count">{{ $item.processing_count }}</div>
                            </li>
                        </ul>
                        {{ $status := $item.status }}
                        {{ with (eq $status "on_review") }}<p class="cell mb-0 ml-4 about table-require-cell text-weight-normal text-uppercase pl-4 pr-4 d-inline created search-status-sel">на модерації</p>{{ end }}
                        {{ with (eq $status "blocked") }}<p class="cell mb-0 ml-4 about table-require-cell text-weight-normal text-uppercase pl-4 pr-4 d-inline completed search-status-sel">заблокований</p>{{ end }}
                        {{ with (eq $status "active") }}<p class="cell mb-0 ml-4 about table-require-cell text-weight-normal text-uppercase pl-4 pr-4 d-inline no_answer search-status-sel">активний</p>{{ end }}

                    </div>
                    {{ end }}
                </div>
                <div class="row d-flex justify-content-between">
                    {{ template "expert_rating_pagging.html" .pagination }}
                    {{/* <!-- <div class="col-12 col-lg-4">
                        <div class="all text-center text-lg-right">
                            <p>Всього вибрано: {{ .data.total }} заявок. <br>{{ .pagination.page.TotalPages }} сторінок</p>
                        </div>
                    </div> -->*/}}
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer.html" . }}

{{/*
<!-- CLIENTS mobile version -->
<!--
//:TODO если тяжко сделать все через css, можно и дублировать данные и относительно размера экраны показывать тот или инной контейнер, но как по мне это не правильно
<section class="rate">
    <div class="container">
        <div class="rate__wrap">
            <div class="rate__block about mt-3 mb-3 pb-3 pt-4">
                <ul class="about__list ml-4 mt-2 mb-2 pr-3 d-flex flex-column">
                    <li class=" d-flex mb-3 ml-4 flex-column">
                        <p class="item-title mb-1">Психолог</p>
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Кількість відгуків</p>
                        <div class="count">1</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Середня оцінка</p>
                        <div class="count">10.00</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Сесій проведено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок завершено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок в роботі</p>
                        <div class="count">0</div>
                    </li>
                </ul>
                <p class="cell mb-0 ml-4 about table-require-cell text-weight-normal created search-status-sel w-50">Не в роботі</p>
            </div>
            <div class="rate__block about mt-3 mb-3 pb-3 pt-4">
                <ul class="about__list ml-4 mt-2 mb-2 pr-3 d-flex flex-column">
                    <li class=" d-flex mb-3 ml-4 flex-column">
                        <p class="item-title mb-1">Психолог</p>
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Кількість відгуків</p>
                        <div class="count">1</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Середня оцінка</p>
                        <div class="count">10.00</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Сесій проведено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок завершено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок в роботі</p>
                        <div class="count">0</div>
                    </li>
                </ul>
                <p class="cell mb-0 ml-4 about table-require-cell text-weight-normal completed search-status-sel w-50">Виконаний</p>
            </div>
            <div class="rate__block about mt-3 mb-3 pb-3 pt-4">
                <ul class="about__list ml-4 mt-2 mb-2 pr-3 d-flex flex-column">
                    <li class=" d-flex mb-3 ml-4 flex-column">
                        <p class="item-title mb-1">Психолог</p>
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Кількість відгуків</p>
                        <div class="count">1</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Середня оцінка</p>
                        <div class="count">10.00</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Сесій проведено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок завершено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок в роботі</p>
                        <div class="count">0</div>
                    </li>
                </ul>
                <p class="cell mb-0 ml-4 about table-require-cell text-weight-normal processing search-status-sel w-50">В роботі</p>
            </div>
            <div class="rate__block about mt-3 mb-3 pb-3 pt-4">
                <ul class="about__list ml-4 mt-2 mb-2 pr-3 d-flex flex-column">
                    <li class=" d-flex mb-3 ml-4 flex-column">
                        <p class="item-title mb-1">Психолог</p>
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Кількість відгуків</p>
                        <div class="count">1</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Середня оцінка</p>
                        <div class="count">10.00</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Сесій проведено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок завершено</p>
                        <div class="count">0</div>
                    </li>
                    <li class="about__item d-flex flex-column mb-1 pl-3 pt-3 pb-3">
                        <p class="item-title mb-1">Заявок в роботі</p>
                        <div class="count">0</div>
                    </li>
                </ul>
                <p class="cell mb-0 ml-4 about table-require-cell text-weight-normal no_answer search-status-sel w-50">Не актуально</p>
            </div>
        </div>
    </div>
</section>-->


<!-- FOOTER -->

*/}}