<!-- Header -->
<!-- title -->

 <!-- MAIN TABLE -->
 <section class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead>
                        <tr>
                            <th class='pl-3'>Статус</th>
                            <th class='pl-5'>Ім'я</th>
                            <th class='pl-5'>Стать</th>
                            <th class='pl-4'>Телефон</th>
                            <th class='pl-5'>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status">Активний</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 d-flex align-items-center justify-content-center'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">099 00 00 00</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">deni.design88@gmail.com</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- CLIENTS block for mobuile-->
<section class="psychologists">
<div class="container">
    <div class="psychologists__wrap">
        <div class="psy mt-3 mb-3 pt-4">
            <div class="psy__status ml-3 mr-5">
                На модерації
            </div>
            <div class="about">
                <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <img src="/static/style/images/about/about-man.svg" class='menu--icon mr-3' alt="about-icon-person">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-phone.svg" class='menu--icon mr-2' alt="about-icon-phone">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-mail.svg" class='menu--icon mr-3' alt="about-icon-mail">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="psy mt-3 mb-3 pt-4">
            <div class="psy__status ml-3 mr-5">
                На модерації
            </div>
            <div class="about">
                <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <img src="/static/style/images/about/about-man.svg" class='menu--icon mr-3' alt="about-icon-person">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-phone.svg" class='menu--icon mr-2' alt="about-icon-phone">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-mail.svg" class='menu--icon mr-3' alt="about-icon-mail">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="psy mt-3 mb-3 pt-4">
            <div class="psy__status ml-3 mr-5">
                На модерації
            </div>
            <div class="about">
                <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <img src="/static/style/images/about/about-man.svg" class='menu--icon mr-3' alt="about-icon-person">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-phone.svg" class='menu--icon mr-2' alt="about-icon-phone">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-mail.svg" class='menu--icon mr-3' alt="about-icon-mail">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="psy mt-3 mb-3 pt-4">
            <div class="psy__status ml-3 mr-5">
                На модерації
            </div>
            <div class="about">
                <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <img src="/static/style/images/about/about-man.svg" class='menu--icon mr-3' alt="about-icon-person">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-phone.svg" class='menu--icon mr-2' alt="about-icon-phone">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-mail.svg" class='menu--icon mr-3' alt="about-icon-mail">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="psy mt-3 mb-3 pt-4">
            <div class="psy__status ml-3 mr-5">
                На модерації
            </div>
            <div class="about">
                <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <img src="/static/style/images/about/about-man.svg" class='menu--icon mr-3' alt="about-icon-person">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-phone.svg" class='menu--icon mr-2' alt="about-icon-phone">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-mail.svg" class='menu--icon mr-3' alt="about-icon-mail">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="psy mt-3 mb-3 pt-4">
            <div class="psy__status ml-3 mr-5">
                На модерації
            </div>
            <div class="about">
                <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <img src="/static/style/images/about/about-man.svg" class='menu--icon mr-3' alt="about-icon-person">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-phone.svg" class='menu--icon mr-2' alt="about-icon-phone">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <img src="/static/style/images/about/about-mail.svg" class='menu--icon mr-3' alt="about-icon-mail">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>

<!-- expert pagging -->
<!-- footer -->