{{/*<!--expert_list.html-->*/}}


{{ template "header.html" . }}

{{/*<!-- title -->*/}}

{{ template "title.html" . }}

{{ template "expert_filters.html" . }}

{{/* <!-- MAIN TABLE -->*/}}

<section class="main mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead >
                        <tr>
                            <th class='rounded-left'>Статус</th>
                            <th>Ім'я</th>
                            <th class='pl-2'>Стать</th>
                            <th>Телефон</th>
                            <th class='rounded-right'>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $item := .data.items }}
                        <tr class="row-custom" data-href="/admin/expert/{{ $item.id }}">
                            {{ $status := $item.status }}
                            {{ with (eq $status "on_review") }}
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status d-inline created">На модерації
                                </p>
                            </td>
                            {{ end }}
                            {{ with (eq $status "blocked") }}
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status d-inline no_answer">
                                    Заблокований</p>
                            </td>
                            {{ end }}
                            {{ with (eq $status "active") }}
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status d-inline completed">Активний
                                </p>
                            </td>
                            {{ end }}

                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0">{{ $item.username }}</p>
                            </td>
                            {{ $gender := $item.gender }}
                            {{ with (eq $gender "male") }}
                            <td class='text-left pt-4 pb-4'>
                                <span class='gender mb-0'>чол.</span>
                            </td>
                            {{ end }}
                            {{ with (eq $gender "female") }}
                            <td class='text-left pt-4 pb-4'>
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            {{ end }}
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0">{{ $item.phone }}</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0">{{ $item.email }}</p>
                            </td>

{{/*
                            <!-- //:TODO хоть и данного функционала нет в новом дизайне, оставлю это тут.
                            <td class="text-left">
                                &lt;!&ndash; Button trigger modal &ndash;&gt;
                                <a class="btn btn-secondary btn-sm {{ if (eq $item.status "blocked")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="blockExpertAPI(this)" role="button">Блокувати</a>
                                <a class="btn btn-success btn-sm {{ if (eq $item.status "active")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="activateExpertAPI(this)" role="button">Активувати</a>
                            </td> -->
*/}}

                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <div class="for-mobile ">
                    {{ range $i, $item := .data.items }}
                    <div class="row-custom client mt-3 mb-3 pt-4" data-href="/admin/expert/{{ $item.id }}">
                        <div class=" d-flex align-items-center justify-content-start mt-2 ml-4">
                            {{ $status := $item.status }}
                            {{ with (eq $status "on_review") }}
                            <p class="cell mb-0 table-require-cell table-cell-status d-inline created">На модерації</p>
                            {{ end }}
                            {{ with (eq $status "blocked") }}
                            <p class="cell mb-0 table-require-cell table-cell-status d-inline no_answer">Заблокований</p>
                            {{ end }}
                            {{ with (eq $status "active") }}
                            <p class="cell mb-0 table-require-cell table-cell-status d-inline completed">Активний</p>
                            {{ end }}
                        </div>
                        <div class="about">
                            <ul class="about__list ml-4 mt-2 mb-2 d-flex flex-column">
                                <li class="about__item d-flex align-items-center">
                                    <p class="about__link name-mob  mr-2">
                                       {{ $item.username }}
                                    </p>
                                {{ $gender := $item.gender }}
                                {{ with (eq $gender "female") }}
                                <div class="gender">жін.</div>
                                {{ end }}
                                {{ with (eq $gender "male") }}
                                <div class="gender">чол.</div>
                                {{ end }}
                            </li>
                                <li class="about__item d-flex">
                                    <p class="about__link">{{ $item.phone }}</p>
                                </li>
                                <li class="about__item d-flex">
                                    <p class="about__link">{{ $item.email }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="row d-flex justify-content-between">
                    {{ template "expert_pagging.html" .pagination }}
                    {{/* <!-- <div class="col-12 col-lg-4">
                        <div class="all text-center text-lg-right">
                            <p>Всього вибрано: {{ .data.total }} заявок. <br>{{ .pagination.page.TotalPages }} сторінок</p>
                        </div>
                    </div> -->*/}}
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer.html" . }}
            </div>
        </div>
    </div>
</section>

{{/*

<!-- CLIENTS block for mobuile
//:TODO создавать для мобилки отдельный блок - очень глупо. Как его применять во время дизайна

<section class="psychologists">
<div class="container">
    <div class="psychologists__wrap">
        <div class="psy mt-3 mb-3 pt-4">
            <div class=" d-flex align-items-center justify-content-start ml-4">
                <p class="cell mb-0 table-require-cell table-cell-status d-inline created">На модерації</p>
                <p class="cell mb-0 table-require-cell table-cell-status d-inline no_answer">Заблокований</p> 
                <p class="cell mb-0 table-require-cell table-cell-status d-inline completed">Активний</p> 
                </div>
            <div class="about">
                <ul class="about__list ml-4 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="psy mt-3 mb-3 pt-4">
            <div class=" d-flex align-items-center justify-content-start ml-4">
                <p class="cell mb-0 table-require-cell table-cell-status d-inline created">На модерації</p>
                <p class="cell mb-0 table-require-cell table-cell-status d-inline no_answer">Заблокований</p> 
                <p class="cell mb-0 table-require-cell table-cell-status d-inline completed">Активний</p> 
                </div>
            <div class="about">
                <ul class="about__list ml-4 mt-2 mb-2 d-flex flex-column">
                    <li class="about__item d-flex mb-1 align-items-center">
                        <a href="#" class="about__link mr-2">Танюша Некрасова</a> 
                        <div class="gender">
                            жін.
                        </div>   
                    </li>
                    <li class="about__item d-flex mb-2">
                        <a href="#" class="about__link">099 000 00 00</a>
                    </li>
                    <li class="about__item d-flex mb-2">
                        <a href="#" class="about__link">deni.design88@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>-->


*/}}