    <!-- FILTER SEARCH -->
    <section class='filter mt-3'>
        <div class="container">
            <div class=" row filter__wrap">
                <div class="col-12 d-flex flex-column-reverse">
                    <div class="filter__btn d-flex flex-column justify-content-center">
                        <button type='button' class='filter-btn'>Фільтр</button>
                    </div>
                    <div class="filter__search mt-2">
                        <p class="status-title mb-0 text-dark">Пошук</p>
                        <input class='form-control filter-mob-input app-search bg-white' type="text" name="app-Search"
                            placeholder="ID, Ім'я або Телефон">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FILTER MODAL -->
    <section class="modal">
            <div class="modal__wrap">
                <div class="modal__close">
                    <img src="../../images/search/close.svg" class='close' alt="modal-close">
                </div>
                <div class="title__item mb-4 ml-3">
                    <h1 class="title">Фільтр</h1>
                </div>
                <form>
                    <div class="container">
                    <div class="mb-4">
                        <p class="mb-0">Статус</p>
                        <select name="psy__status-app " class='select'>
                            <option value="">Вибрати зі списку</option>
                            <option value="on_review">На модерації</option>
                            <option value="blocked">Заблокований</option>
                            <option value="active">Активний</option>
                        </select>
                    </div>
                    <div class="spec">
                        <p class="specialization mb-0">Спеціалізація</p>
                        <select name="spec-app" class='select '>
                            <option value="">Вибрати зі списку</option>
                            <option value="Depression">Депресія</option>
                            <option value="Eating-disorders">Розлади харчової поведінки</option>
                            <option value="Problems-in-family ">Проблеми в сімейних стосунках</option>
                            <option value="Anxiety-and-health">Тривога та здоров'я</option>
                            <option value="Obsessive-compulsive disorder">Обсесивно-компульсивний розлад</option>
                            <option value="Panic-disorder">Панічний розлад</option>
                            <option value="Parents-and-kids">Проблеми у стосунках батьків і дітей</option>
                            <option value="Phobias">Фобії</option>
                            <option value="PTSD">ПТСР</option>
                            <option value="Generalized-Anxiety-Disorder">Генералізований тривожний розлад</option>
                        </select>
                    </div>
                    <div class="filter__btn d-flex flex-column justify-content-center mt-5">
                        <button type='button' class='filter-btn filter-search'>Пошук</button>
                    </div>
                </div>
                </form>
            </div>
    </section>
    <!-- Filter DESKTOP -->
    <section class='filter-desktop '>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <form action="#" class='d-flex align-items-center justify-content-between'>
                        <div class="filter__search mt-3 mr-3 w-100">
                            <p class="search-title filter-desktop-inp-title mb-2">Пошук</p>
                            <input class='search' type="text" name="app-Search" placeholder="ID. Ім'я. Тлф">
                        </div>
                        <div class="status mr-3 mt-3 mr-0 w-100">
                            <p class="status-title mb-2 filter-desktop-inp-title">Статус</p>
                            <select name="status" class='select status-select'>
                                <option value="Вибрати зі списку">Вибрати зі списку</option>
                                <op value="Активний table-cell-status">Активний</op>
                                <option value="в роботі">В роботі</option>
                                <option value="виконаний">Виконаний</option>
                                <option value="не актуально">Не актуально</option>
                            </select>
                        </div>
                        <div class="spec mt-3 mb-0 mr-3 w-100">
                            <p class="spec-title mb-2 filter-desktop-inp-title">Спеціалізація</p>
                            <select name="specialization" class='select spec-select'>
                                <option value="">Вибрати зі списку</option>
                                <option value="Depression">Депресія</option>
                                <option value="Eating-disorders">Розлади харчової поведінки</option>
                                <option value="Problems-in-family ">Проблеми в сімейних стосунках</option>
                                <option value="Anxiety-and-health">Тривога та здоров'я</option>
                                <option value="Obsessive-compulsive disorder">Обсесивно-компульсивний розлад</option>
                                <option value="Panic-disorder">Панічний розлад</option>
                                <option value="Parents-and-kids">Проблеми у стосунках батьків і дітей</option>
                                <option value="Phobias">Фобії</option>
                                <option value="PTSD">ПТСР</option>
                                <option value="Generalized-Anxiety-Disorder">Генералізований тривожний розлад</option>
                            </select>
                        </div>
                        <div class='col-lg-1  filter-submit d-flex justify-content-center mt-5'>
                            <button type="submit" class='btn btn-submit text-white'>Вибрати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>