 <!-- HEAdER -->
 <!-- TITLE -->
 <!-- MAIN TABLE desktop version-->
 <section class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead>
                        <tr>
                            <th class='pl-3'>Психолог</th>
                            <th class='pl-2'>Кількість відгуків</th>
                            <th class='pl-2'>Середня оцінка</th>
                            <th class='pl-2'>Сесій проведено</th>
                            <th class='pl-2'>Заявок завершено</th>
                            <th class='pl-2'>Заявок в роботі</th>
                            <th class='pl-3'>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2 ">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">заблокований</p>

                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">активний</p>
                            </td>
                        </tr>
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">активний</p>
                            </td>
                        </tr> <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">активний</p>
                            </td>
                        </tr> <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">активний</p>
                            </td>
                        </tr> 
                        <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">активний</p>
                            </td>
                        </tr>
                         <tr>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">20</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            100
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">на модерації</p>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">заблокований</p>
                                <p class="cell mb-0 table-require-cell table-cell-status no_answer">активний</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- CLIENTS mobile version -->
<section class="rate">
    <div class="container">
        <div class="rate__wrap">
            <div class="rate__block mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    На модерації
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    активний
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 no_answer">
                    активний
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Кількість відгуків</p>
                            <div class="count">1</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Середня оцінка</p>
                            <div class="count">10.00</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Сесій проведено</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Заявок завершено</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Заявок в роботі</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rate__block mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    На модерації
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    активний
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 no_answer">
                    активний
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Кількість відгуків</p>
                            <div class="count">1</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Середня оцінка</p>
                            <div class="count">10.00</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Сесій проведено</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Заявок завершено</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Заявок в роботі</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rate__block mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    На модерації
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    активний
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 no_answer">
                    активний
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Кількість відгуків</p>
                            <div class="count">1</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Середня оцінка</p>
                            <div class="count">10.00</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Сесій проведено</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Заявок завершено</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Заявок в роботі</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->