<nav class="nav desktop-nav">
    <ul class="nav-list w-100 d-flex mt-auto mb-auto">
        <li class="nav-item border-bottom border-dark border-0">
            <a href="../..//Psy_admin/Applications/index.html" class="nav-link text-white">Заявки</a>
        </li>
        <li class="nav-item border-bottom border-dark border-0">
            <a href="/admin/profile" class="nav-link text-white">Мій профіль</a>
        </li>
        <li class="nav-item border-bottom border-dark border-0">
            <a href="/admin/review?limit=10&offset=0" class="nav-link text-white">Мої відгуки</a>
        </li>
        <li class="nav-item border-bottom border-dark border-0">
            <a href="#" class="nav-link text-white">Вихід</a>
        </li>
    </ul>
</nav>