<!--expert_rating_filters.html-->

<div class="card shadow">
    <article class="card-group-item">
        <header class="card-header">
            <h3 class="title">Фільтри</h3>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <form class="form" action="/admin/expert_rating" method="GET">
                    <label for="status">Статус</label>
                    <select class="custom-select" id="status" name="status">
                        <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                        <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                        <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                        <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                    </select>
                    <br/>
                    <hr/>
                    <label for="status">Сортувати по</label>
                    <select class="custom-select" id="order_by" name="order_by">
                        <option {{ if (eq .queries.order_by "") }} selected {{ end}} value="created_at">Дата реєстраціі(за замовчуванням)</option>
                        <option {{ if (eq .queries.order_by "review_count") }} selected {{ end}} value="review_count">Кількість відгуків</option>
                        <option {{ if (eq .queries.order_by "average_rating") }} selected {{ end}} value="average_rating">Середня оцінка</option>
                        <option {{ if (eq .queries.order_by "session_count") }} selected {{ end}} value="session_count">Сесій проведено</option>
                        <option {{ if (eq .queries.order_by "completed_count") }} selected {{ end}} value="completed_count">Заявок виконано</option>
                        <option {{ if (eq .queries.order_by "processing_count") }} selected {{ end}} value="processing_count">Заявок в роботі</option>
                    </select>
                    <br/>
                    <hr/>
                    <label for="status">Напрям сортування</label>
                    <select class="custom-select" id="order_dir" name="order_dir">
                        <option {{ if (eq .queries.order_dir "asc") }} selected {{ end}} value="asc">За зростанням</option>
                        <option {{ if or (eq .queries.order_dir "desc") (eq .queries.order_dir "") }} selected {{ end}} value="desc">За спаданням</option>
                    </select>
                    <br/>
                    <hr/>
                    <button type="submit" class="btn btn-primary">Вибрати</button>
                    <br/>
                    <hr/>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-info" href="/admin/expert_rating/excel?status={{ .queries.status }}&order_by={{ .queries.order_by }}&order_dir={{ .queries.order_dir }}" role="button">Завантажити Excel</a>
                            </div>

                            <div class="col-sm-6">
                                <a class="btn btn-info" href="/admin/expert_rating/pdf?status={{ .queries.status }}&order_by={{ .queries.order_by }}&order_dir={{ .queries.order_dir }}" role="button">Завантажити PDF</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>
