<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/noah/noah.css">
    <link rel="stylesheet" href="/static/styles/css/style.css">
    <title>Заявки</title>
</head>
<body>
<!-- HEADER -->
<header class="header pt-2 pb-2">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="col-6">
                <div class="header__logo">
                    <a href="/admin">
                        <img class='logo' src="/static/styles/images/logo-white.svg" alt="logo">
                    </a>
                </div>
            </div>
            <div class=" col-6 d-flex justify-content-end mt-auto mb-auto">

            {{ if .metadata.logged_in }}
                {{ template "navigation.html" . }}
            {{ end }}

</header>
