
{{ template "header.html" . }}

<section >
    <div class="container">
        <div class="row">
            <div class="login-block col-lg-5 col-12 d-flex flex-column justify-content-center ml-auto mr-auto mt-5">
                <div class="title ml-auto mr-auto mb-5">
                    <h1>Вхід</h1>
                </div>
                <form action="/admin/login" method="POST" id="reCaptchaForm" class="bg-white pt-5 pb-5">
                    <div class="form-group w-75 ml-auto mr-auto">
                        <label for="login">Логін</label>
                        <input type="text" id="login" name="login" class='form-control' placeholder="Логін">
                    </div>
                    <div class="form-group w-75 ml-auto mr-auto">
                        <label for="pass">Пароль</label>
                        <input type="password" id="password" name="password" class='form-control' placeholder="Пароль">
                        <img src="/static/styles/images/form/eye.svg" alt="eye" class='eye-close'>
                        <img src="/static/styles/images/form/open-eye.svg" alt="eye" class='eye-open hide'>
                    </div>
                    {{ if .error }}
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                {{ .error }}
                            </div>
                        </div>
                    {{ end }}
                    <button type="submit" class='download-btn d-block text-center w-75 mt-5 ml-auto mr-auto form-btn g-recaptcha' data-sitekey="6LeHwKYZAAAAABAzPuWRa4uvw9Fnkbt3D-R8yj9J" data-callback='onSubmitLogin'>
                        Вхід
                    </button>
                </form>
            </div>

        </div>
    </div>
</section>

{{ template "footer.html" . }}