{{/*<!-- desktop nav -->*/}}
    <nav class="nav desktop-nav">
        <ul class="nav-list w-100 d-flex mt-auto mb-auto">
            {{ if eq .metadata.status "active" }}
            <li class="nav-item mt-auto mb-auto">
                <a href="/admin/requisition" class="nav-link d-flex align-items-center ">
                    <i class="fa fa-telegram mr-2"></i>Заявки
                </a>
            </li>
            {{ end }}
            {{ if eq .metadata.role "admin" }}
            <li class="nav-item mt-auto mb-auto">
                <a href="/admin/expert?limit=10&offset=0" class="nav-link d-flex align-items-center">
                    <i class="fa fa-address-card-o mr-2"></i>Психологи
                </a>
            </li>
            <li class="nav-item mt-auto mb-auto">
                <a href="/admin/review?limit=10&offset=0" class="nav-link d-flex align-items-center">
                    <i class="fa fa-commenting-o mr-2" aria-hidden="true"></i>Відгуки
                </a>
            </li>
            <li class="nav-item mt-auto mb-auto">
                <a href="/admin/expert_rating?limit=10&offset=0" class="nav-link d-flex align-items-center">
                    <i class="fa fa-bar-chart-o mr-2" aria-hidden="true"></i>Рейтинги
                </a>
            </li>
            {{ end }}
            {{ if eq .metadata.role "expert" }}
            <li class="nav-item mt-auto mb-auto">
                <a href="/admin/profile" class="nav-link d-flex align-items-center">
                    <i class="fa fa-address-card-o mr-2"></i>Мій профіль
                </a>
            </li>
            <li class="nav-item mt-auto mb-auto">
                <a href="/admin/review?limit=10&offset=0" class="nav-link d-flex align-items-center">
                    <i class="fa fa-commenting-o mr-2" aria-hidden="true"></i>Мої відгуки
                </a>
            </li>
            {{ end }}
            <li class="nav-item">
                <a href="/admin/logout" class="nav-link d-flex align-items-center">
                    <i class="fa fa-user mr-2"></i>Вихід
                </a>
            </li>
        </ul>
    </nav>
    <div class="user d-flex justify-content-center">
        <img src="/static/styles/images/user.svg" alt="user">
    </div>
</div>
</div>
</div>
<section class="menu-modal">
    <nav class="nav">
        <ul class="nav-list w-100 ">
        {{ if eq .metadata.role "admin" }}
        <li class="nav-item border-bottom border-dark">
            <a href="/admin/requisition" class="nav-link">Заявки</a>
        </li>
        <li class="nav-item border-bottom border-dark">
            <a href="/admin/expert?limit=10&offset=0" class="nav-link">Психологи</a>
        </li>
        <li class="nav-item border-bottom border-dark">
            <a href="/admin/review?limit=10&offset=0" class="nav-link">Відгуки</a>
        </li>
        <li class="nav-item border-bottom border-dark">
            <a href="/admin/expert_rating?limit=10&offset=0" class="nav-link">Рейтинги</a>
        </li>
        {{ end }}
        {{ if eq .metadata.role "expert" }}
            <li class="nav-item border-bottom border-dark">
                <a href="/admin/requisition" class="nav-link">Заявки</a>
            </li>
            <li class="nav-item border-bottom border-dark">
                <a href="/admin/profile" class="nav-link">Мій профіль</a>
            </li>
            <li class="nav-item border-bottom border-dark ">
                <a href="/admin/review?limit=10&offset=0" class="nav-link ">Мої відгуки</a>
            </li>
            {{ end }}
            <li class="nav-item border-bottom border-dark">
                <a href="/admin/logout" class="nav-link">Вихід</a>
            </li>
        </ul>
    </nav>
</section>


{{/*
<!-- Mobile navigation -->
<!-- <nav class="nav">
    <ul class="nav-list w-100 ">
        {{ if eq .metadata.role "admin" }}
        <li class="nav-item border-bottom border-dark">
            <a href="/admin/requisition" class="nav-link">Заявки</a>
        </li>
        <li class="nav-item border-bottom border-dark">
            <a href="../myProfile/myProfile.html" class="nav-link">Психологи</a>
        </li>
        <li class="nav-item border-bottom border-dark">
            <a href="../..//Psy_admin/Applications/index.html" class="nav-link">Відгуки</a>
        </li>
        <li class="nav-item border-bottom border-dark">
            <a href="../..//Psy_admin/Applications/index.html" class="nav-link">Рейтинги</a>
        </li>
        {{ end }}
        {{ if eq .metadata.role "expert" }}
        <li class="nav-item border-bottom border-dark">
            <a href="../myProfile/myProfile.html" class="nav-link">Мій профіль</a>
        </li>
        <li class="nav-item border-bottom border-dark ">
            <a href="../myFeedback/myFeedback.html" class="nav-link ">Мої відгуки</a>
        </li>
        {{ end }}
        <li class="nav-item border-bottom border-dark">
            <a href="#" class="nav-link">Вихід</a>
        </li>
    </ul>
</nav> -->




<!-- <nav class="menu mt-4">
    <ul class="nav menu__list d-flex justify-content-between">
        {{ if eq .metadata.status "active" }}
        <li class="nav-item menu__item ">
            <a href="/admin/requisition" class="nav-link menu--link  pb-2 mr-4">Заявки</a>
        {{ end }}
        {{ if eq .metadata.role "admin" }}
        <li class="nav-item menu__item">
            <a class="nav-link menu--link pb-2 mr-4 " href="/admin/expert?limit=10&offset=0">Психологи</a>
        </li>
        <li class="nav-item menu__item">
            <a class="nav-link menu--link pb-2 mr-4" href="/admin/review?limit=10&offset=0">Відгуки</a>
        </li>
        <li class="nav-item menu__item">
            <a class="nav-link menu--link pb-2 mr-4" href="/admin/expert_rating?limit=10&offset=0">Рейтинги</a>
        </li>
        {{ end }}
        {{ if eq .metadata.role "expert" }}
        <li class="nav-item menu__item">
            <a class="nav-link menu--link pb-2 mr-4 " href="/admin/profile">Мій профіль</a>
        </li>
        <li class="nav-item menu__item">
            <a class="nav-link menu--link pb-2 mr-4 " href="/admin/review?limit=10&offset=0">Мої відгуки</a>
        </li>
        <li class="nav-item menu__item">
            <a class="nav-link menu--link pb-2 mr-4 " href="/admin/logout">Вихід</a>
        </li>
        {{ end }}
    </ul>
</nav> -->
*/}}