<!-- header -->
<!-- title -->
<section class='form ml-auto mr-auto'>
    <div class="container">
        <div class="row">
            <form action="#" class='app_form w-100  bg-white ml-auto mr-auto pb-5 pt-5 border' role="form">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-6 mr-0">
                            <div class="form__id form-group">
                                <p class="title-input">ID</p>
                                <input type="text" name="ID" class="input-id form-control">
                            </div>
                            <div class="form__name form-group">
                                <p class="title-input">Ім'я</p>
                                <input type="text" name="name" class="input-name form-control" placeholder="Тетяна Шаригіна">
                                <div class="gender-form">
                                    жін.
                                </div>  
                            </div>
                            <div class="form__day form-group">
                                <p class="title-input">День зворотнього зв'язку</p>
                                <input type="text" name="day" class="input-day form-control">
                            </div>
                            <div class="form__hour form-group">
                                <p class="title-input">Час зворотнього зв'язку</p>
                                <input type="text" name="hour" class="input-hour form-control">
                            </div>
                            
                            <div class="form__describe form-group">
                                <p class="title-input">Опис звернення</p>
                                <textarea name="describe" cols="30" rows="5" class='textarea-describe form-control' placeholder="Агарофобия, панический страх при переходе проезжей части, на широкой площади"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6 mr-0">
                            <div class="form__phone form-group">
                                <p class="title-input">Телефон</p>
                                <input type="text" name="phone" class="input-phone form-control" placeholder="050 000 00 00">
                            </div>
                            <div class="form__spec form-group">
                                <p class="title-input">Спеціалізація</p>
                                <input type="text" name="specialization" class="input-spec form-control" placeholder="Фобії">
                            </div>
                            <div class="form__session form-group">
                                <p class="title-input">Сесій проведено</p>
                                <input type="text" name="session" class="input-session form-control" placeholder="0">
                            </div>
                            <div class="form__gender form-group">
                                <p class="title-input">Стать психолога</p>
                                <input type="text" name="gender" class="input-gender form-control">
                            </div>
                            <div class="form__last-call form-group">
                                <p class="title-input">Зворотній зв'язок</p>
                                <input type="text" name="last-call" class="input-last-call form-control">
                            </div>
                            <div class="date-of-create">
                                <p class="title-input">Дата створення заявки</p>
                                <div class="block-date-time d-flex">
                                   <p class='date-time p-3 mr-1'>2020-07-18</p> 
                                   <p class='date-time p-3'>14:53</p> 
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</section>     


<!-- footer -->