{{/*<!-- requisition_list.html-->*/}}

{{ template "header.html" .}}


{{/*<!-- Title -->*/}}
{{ template "title.html" . }}

{{ template "requisition_filters.html" . }}

{{/*<!-- MAIN TABLE -->*/}}
<section class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead >
                        <tr>
                            <th class='text-left rounded-left'>Дата</th>
                            <th class='text-left'>Спеціалізація</th>
                            <th class='text-left'>Ім'я</th>
                            <th class='text-left pl-3'>Стать</th>
                            <th class='text-left'>Телефон</th>
                            <th class='text-left rounded-right pl-4'>Статус</th>
                        </tr>
                    </thead>
                    <tbody class='col-lg-12'>
                        {{ range $i, $item := .data.items }}
                        <tr class="row-custom" data-href="/admin/requisition/{{ $item.id }}">
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">{{ $item.created_at }}</p>
                            </td>
                            <td class="text-left pt-4 pb-4 text-white" data-href="/admin/requisition/{{ $item.id }}">
                                <p class='cell specialization d-inline table-require-cell mb-0'>{{ $item.diagnosis }}
                                </p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">
                                    <span
                                        class='name cell'>{{ if (ne $item.username "") }}{{ $item.username }}{{ else }}Недоступно{{ end }}</span>
                                </p>
                            </td>
                            {{ $gender := $item.gender }}
                            {{ with (eq $gender "male") }}
                            <td class='text-left pt-4 pb-4 d-flex justify-content-start' data-href="/admin/requisition/{{ $item.id }}">
                                <span class='gender mb-0'>чол.</span>
                            </td>
                            {{ end }}
                            {{ with (eq $gender "female") }}
                            <td class='text-left pt-4 pb-4 d-flex justify-content-start' data-href="/admin/requisition/{{ $item.id }}">
                                <span class='gender mb-0'>жін.</span>
                            </td>
                            {{ end }}

                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">{{ if (ne $item.phone "") }}{{ $item.phone }}{{ else }}Недоступно{{ end }}
                                </p>
                            </td>
                            <td class='text-left align-items-center pt-4 pb-4' data-href="/admin/requisition/{{ $item.id }}">
                                {{ $status := $item.status }}
                                {{ with (eq $status "created") }}<p
                                    class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                                {{ end }}
                                {{ with (eq $status "processing") }}<p
                                    class="cell d-inline table-require-cell table-cell-status processing">В роботі</p>
                                {{ end }}
                                {{ with (eq $status "completed") }}<p
                                    class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p>
                                {{ end }}
                                {{ with (eq $status "no_answer") }}<p
                                    class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально
                                </p>{{ end }}
                            </td>
{{/*
                            <!--
                        //:TODO хоть и данного функционала нет в новом дизайне, оставлю это тут.
                        <td class="text-center">
                            <a class="btn btn-secondary {{ if (eq $item.status "processing") }} disabled{{ end }}" data-requisition-id="{{ $item.id }}" onclick="takeRequisitionAPI(this)" role="button">Взяти</a>
                            <a class="btn btn-success {{ if (eq $item.status "completed") }} disabled{{ end }}" data-requisition-id="{{ $item.id }}" onclick="completeRequisitionAPI(this)" role="button">Завершити</a>
                        </td>-->

*/}}
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <div class="for-mobile ">
                    {{ range $i, $item := .data.items }}
                    <div class="row-custom client mt-3 mb-3 pt-4" data-href="/admin/requisition/{{ $item.id }}">
                        <div class="reason d-inline ml-3 mr-5">
                            {{ $item.diagnosis }}
                        </div>
                        <div class="about">
                            <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                                <li class="about__item d-flex mb-1 align-items-center">
                                    <p class="cell mb-0 pt-2">
                                        <a href="#" class="about__link name-mob  mr-2">
                                            {{ if (ne $item.username "") }}{{ $item.username }}{{ else }}Недоступно{{ end }}
                                        </a>
                                    </p>
                                    {{ $gender := $item.gender }}
                                    {{ with (eq $gender "female") }}
                                    <div class="gender mt-2">жін.</div>
                                    {{ end }}
                                    {{ with (eq $gender "male") }}
                                    <div class="gender mt-2">чол.</div>
                                    {{ end }}
                                </li>
                                <li class="about__item d-flex mb-2">
                                    <a href="#"
                                        class="about__link">{{ if (ne $item.phone "") }}{{ $item.phone }}{{ else }}Недоступно{{ end }}</a>
                                </li>
                                <li class="about__item d-flex mb-2">
                                    <a href="#" class="about__link">{{ $item.created_at }}</a>
                                </li>
                            </ul>
                            <div class="d-f d-flex align-items-center justify-content-start ml-3">
                                {{ $status := $item.status }}
                                {{ with (eq $status "created") }}<p
                                    class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                                {{ end }}
                                {{ with (eq $status "processing") }}<p
                                    class="cell d-inline table-require-cell table-cell-status processing">В роботі</p>
                                {{ end }}
                                {{ with (eq $status "completed") }}<p
                                    class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p>
                                {{ end }}
                                {{ with (eq $status "no_answer") }}<p
                                    class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально
                                </p>{{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="row d-flex justify-content-between">
                    {{ template "requisition_pagging.html" .pagination }}
                    <div class="col-12 col-lg-4">
                        <div class="all text-right">
                            <p>Всього вибрано: {{ .data.total }} заявок. <br>{{ .pagination.page.TotalPages }} сторінок</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer.html" . }}
{{/*
<!-- CLIENTS -->
<!-- //:TODO я не понимаю что это =( -->



<!-- <section class="app__clients">
        <div class="container">
            <div class="clients__wrap">
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason d-inline ml-3 mr-5">
                        Важке переживання втрати
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center">
                                <img src="/static/styles/images/about/about-man.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        Танюша Некрасова
                                    </a>
                                </p>
                                <div class="gender mt-2">жін.</div>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about-phone.svg" class='menu&#45;&#45;icon mr-2'
                                    alt="about-icon">
                                <a href="#" class="about__link">099 000 00 00</a>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about-cal.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">2020, 20, 20</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-start justify-content-start ml-3">
                            <p class="cell d-inline table-require-cell table-cell-status processing">В роботі</p> 
                                     &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                                    <p class="cell d-inline table-require-cell table-cell-status no_answer">Заблокований</p> &ndash;&gt;
                                    <p class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально</p>
                                    &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p> &ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason ml-3 mr-5">
                        Важке переживання втрати
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center">
                                <img src="/static/styles/images/about/about-man.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        Танюша Некрасова
                                    </a>
                                </p>
                                <div class="gender">жін.</div>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about.svg" class='menu&#45;&#45;icon mr-2'
                                    alt="about-icon">
                                <a href="#" class="about__link">099 000 00 00</a>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about-cal.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">2020, 20, 20</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-center justify-content-start ml-3">
                            <p class="cell d-inline table-require-cell table-cell-status processing">В роботі</p>
                                    &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                                    <p class="cell d-inline table-require-cell table-cell-status no_answer">Заблокований</p>
                                    <p class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально</p> &ndash;&gt;
                                    <p class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p>
                        </div>
                    </div>
                </div>
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason ml-3 mr-5">
                        Важке переживання втрати
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center">
                                <img src="/static/styles/images/about/about-man.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        Танюша Некрасова
                                    </a>
                                </p>
                                <div class="gender">жін.</div>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about.svg" class='menu&#45;&#45;icon mr-2'
                                    alt="about-icon">
                                <a href="#" class="about__link">099 000 00 00</a>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about-cal.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">2020, 20, 20</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-center justify-content-start ml-3">
                            <p class="cell d-inline table-require-cell table-cell-status processing">В роботі</p>
                                    <p class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                                    &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status no_answer">Заблокований</p>
                                    <p class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально</p>
                                    <p class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p> &ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason ml-3 mr-5">
                        Важке переживання втрати
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center">
                                <img src="/static/styles/images/about/about-man.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        Танюша Некрасова
                                    </a>
                                </p>
                                <div class="gender">
                                    жін.
                                </div>
                            </li>
                            <li class="about__item d-flex mb c-2">
                                <img src="/static/styles/images/about/about.svg" class='menu&#45;&#45;icon mr-2'
                                    alt="about-icon">
                                <a href="#" class="about__link">099 000 00 00</a>
                            </li>
                            <li class="about__item d-flex mb-2 mt-2">
                                <img src="/static/styles/images/about/about-cal.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">2020, 20, 20</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-center justify-content-start ml-3">
                            &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status processing">В роботі</p>
                            <p class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p> &ndash;&gt;
                            <p class="cell d-inline table-require-cell table-cell-status no_answer">Заблокований</p>
                            &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально</p>
                            <p class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p>                         &ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason ml-3 mr-5">
                        Важке переживання втрати
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center">
                                <img src="/static/styles/images/about/about-man.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        Baha Некрасова
                                    </a>
                                </p>
                                <div class="gender">жін.</div>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about.svg" class='menu&#45;&#45;icon mr-2'
                                    alt="about-icon">
                                <a href="#" class="about__link">099 000 00 00</a>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about-cal.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">2020, 20, 20</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-center justify-content-start ml-3">
                            &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status processing">В роботі</p> &ndash;&gt;
                            <p class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                            &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status no_answer">Заблокований</p>
                            <p class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально</p>
                            <p class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p>                        &ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason ml-3 mr-5">
                        Важке переживання втрати
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center">
                                <img src="/static/styles/images/about/about-man.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        Roma Некрасова
                                    </a>
                                </p>
                                <div class="gender">жін.</div>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about.svg" class='menu&#45;&#45;icon mr-2'
                                    alt="about-icon">
                                <a href="#" class="about__link">099 000 00 00</a>
                            </li>
                            <li class="about__item d-flex mb-2">
                                <img src="/static/styles/images/about/about-cal.svg" class='menu&#45;&#45;icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">2020, 20, 20</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-center justify-content-start ml-3">
                            <p class="cell d-inline table-require-cell table-cell-status processing">В роботі</p>
                            &lt;!&ndash; <p class="cell d-inline table-require-cell table-cell-status created">Не в роботі</p>
                            <p class="cell d-inline table-require-cell table-cell-status no_answer">Заблокований</p>
                            <p class="cell d-inline table-require-cell table-cell-status no_answer">Не актуально</p>
                            <p class="cell d-inline table-require-cell table-cell-status completed">Виконаний</p> &ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


<!-- requisition pagging -->

<!-- footer -->

*/}}