<!-- HEADER -->
<!-- TITLE -->
<!-- MAIN TABLE -->
<section class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead>
                        <tr>
                            <th class='pl-3'>Статус</th>
                            <th class='pl-3'>Психолог</th>
                            <th class='pl-5'>Задоволення від консультації</th>
                            <th class='pl-2'>Оцінка психолога</th>
                            <th class='pl-2'>Кількість консультацій</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <!-- ИЛИ -->
                           <td class='text-center pt-4 pb-4'>
                            <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                        </td>
                        <!-- ИЛИ -->
                        <td class='text-center pt-4 pb-4'>
                            <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                        </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                                Так 
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            </td>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            </td>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                           <!-- ИЛИ -->
                           <td class='text-center pt-4 pb-4'>
                            <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                        </td>
                        <!-- ИЛИ -->
                        <td class='text-center pt-4 pb-4'>
                            <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                        </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            </td>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            </td>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            </td>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            </td>
                            <!-- ИЛИ -->
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            </td>
                            <td class='text-center pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">Танюша Некрасова</p>
                            </td>
                            <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start'>
                                Так
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">100</p>
                            </td>
                            <td class='text-left pt-4 pb-4'>
                                <p class="cell mb-0 pt-2">50</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- CLIENTS -->
<section class="feedbacks">
    <div class="container">
        <div class="feedbacks__wrap">
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>  
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>  
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>  
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- reviewPAGGING -->

<!-- FOOTER -->