<!--review_list.html-->

{{ template "header.html" .}}

<!-- TITLE -->
{{ template "title.html" . }}
<!-- MAIN TABLE -->
<section class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ template "review_filters.html" . }}
            </div>
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead>
                    <tr>
                        <th class='pl-3'>Статус</th>
                        <th class='pl-3'>Психолог</th>
                        <th class='pl-5'>Задоволення від консультації</th>
                        <th class='pl-2'>Оцінка психолога</th>
                        <th class='pl-2'>Кількість консультацій</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $item := .data.items }}
                    <tr class="row-custom" data-href="/admin/review/{{ $item.id }}">
                        <td class='text-center pt-4 pb-4' >
                            {{ $status := $item.status }}
                            {{ with (eq $status "requested") }}
                            <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            {{ end }}
                            {{ with (eq $status "completed") }}
                            <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            {{ end }}
                        </td>
                        <td class='text-center pt-4 pb-4' >
                            <p class="cell mb-0 pt-2">{{ $item.expert_username }}</p>
                        </td>
                        <td class='text-center pt-4 pb-4 ml-5 d-flex justify-content-start '>
                            {{ $item.consultation_review }}
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0 pt-2">{{ $item.expert_point }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0 pt-2">{{ $item.consultation_count }}</p>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                <div style="flex-direction: row; justify-content: space-between">
                    <div>
                        {{ template "review_pagging.html" .pagination }}
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        Всього вибрано: {{ .data.total }} відгуків. {{ .pagination.page.TotalPages }} сторінок.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CLIENTS -->
<!--
//:TODO у нас есть css, нужно с помощбю его делать моб версию. Можно конечно и так сделать, но это дублирование инфы
<section class="feedbacks">
    <div class="container">
        <div class="feedbacks__wrap">
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!-- reviewPAGGING -->

<!-- FOOTER -->
{{ template "footer.html" . }}
