<!--review_item.html-->

{{ template "header.html" .}}
{{ template "title.html" .}}

<!-- Title -->
<section class='item ml-auto mr-auto'>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class='item-inputs d-flex flex-wrap  pb-4 w-100 mb-3 mt-5'>
                    <div class='input__block '>
                        <p class="title-input">ID</p>
                        <input type="text" name="ID" class="input-id form-control" value="{{ .review.id }}" readonly>
                    </div>    
                    <div class='input__block order-lg-3'>
                        <p class="title-input">Враження від роботи з психологом</p>
                       <textarea name="review expert" id="review_expert" cols="30" rows="10" class=" form-control" readonly>{{ .review.expert_review }}</textarea> 
                    </div>
                    <div class='input__block order-lg-4'>
                        <p class="title-input">Враження від роботи з платформи</p>
                       <textarea name="review platorm" id="review_platorm" cols="30" rows="10" class=" form-control" readonly>{{ .review.platform_review }}</textarea> 
                    </div>
                    <div class='input__block order-lg-5'>
                        <p class="title-input">Задоволення від консультації</p>
                        <input type="text" name="pleasure" class=" form-control" value="{{ .review.consultation_review }}" readonly>
                    </div>
                    <div class='input__block order-lg-6'>
                        <p class="title-input">Кількість наданих консультацій</p>
                        <input type="number" name="created consultation" class=" input-for-btn form-control" value='{{ .review.consultation_count }}' readonly>
                    </div>
                    <div class='input__block order-lg-7'>
                        <p class="title-input">Оцінка психолога</p>
                        <input type="text" name="points" class=" form-control" value="{{ .review.expert_point }}" readonly>
                    </div>
                    
                    

                    <div class="date-of-create input__block order-lg-8">
                        <p class="title-input mt-0">Дата запиту</p>
                        <div class="block-date-time d-flex">
                            <p class='date-time p-3 mr-1'>{{ .review.created_at }}</p>
                        </div>
                    </div>
                    <div class='mb-3 input__block order-lg-9'>
                        <p class="title-input">Статус</p>
                        {{ $status := .review.status }}
                        {{ with (eq $status "requested") }}<p class="cell mb-0 table-require-cell table-cell-status d-inline created">
                            ВІДГУК ОЧІКУЄТЬСЯ</p>{{ end }}
                        {{ with (eq $status "completed") }}<p class="cell mb-0 table-require-cell table-cell-status d-inline completed">ВІДПОВІВ</p>{{ end }}
                    </div>
                    <div class="input__block review-buttons order-lg-2 d-flex flex-column flex-lg-row">
                        <div class='detail-block-review'>
                            <p class="title-input">Заявка</p>
                            <a href="/admin/requisition/{{ .review.requisition_id }}" role="button" class='detail-btn text-center padding d-block w-100'>
                                Детальніше<b>&#8250;</b></a>
                            
                        </div>
                        <div class='detail-block-review'>
                            <p class="title-input">Психолог</p>
                            <a href="/admin/expert/{{ .review.expert_id }}" role="button" class='detail-btn text-center padding d-block w-100'>
                                Детальніше<b>&#8250;</b></a>
                            
                        </div>
                    </div>
                    {{/*
                    <!-- <div
                        class="col  irst feedback__detail-btn d-flex w-100 flex-column flex-lg-row justify-content-lg-left pl-0 align-items-center mt-0 ">
                        <div class='col-12 col-lg-5 d-flex flex-column pl-0'>
                            <p class="title-input">Заявка</p>
                            <button class='detail-btn align-self-center text-center w-100'>
                                Детальніше
                            </button>
                        </div>

                        <div class='col-12 col-lg-5 d-flex flex-column pl-0'>
                            <p class="title-input">Психолог</p>
                            <button class='detail-btn align-self-center text-center w-100'>
                                Детальніше
                            </button>
                        </div>
                    </div> -->
*/}}
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer.html" . }}