<footer class="footer">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-lg-4">
                <nav aria-label="footer__nav">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link h-100 text-center" href="#">
                                <img class='mt-1 ml-1' src="/static/styles/images/footer/first-page.svg" alt="">
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link h-100 text-center" href="#"><img class='mt-1 ml-1'
                                    src="/static/styles/images/footer/prev-page.svg" alt=""></a></li>
                        <li class="page-item">
                            <a class="page-link h-100 text-center" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page-link--active h-100 text-center" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link h-100 text-center" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link h-100 text-center" href="#">
                                <img class='mt-1 ml-1' src="/static/styles/images/footer/next-page.svg" alt="">
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link h-100 text-center" href="#">
                                <img class='mt-1 ml-1' src="/static/styles/images/footer/last-page.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-lg-4">
                <div class="all text-right">
                    <p>Всього вибрано: 1263 заявок. <br>127 сторінок</p>
                </div>
            </div>
        </div>
    </div>
</footer>