{{/*<!--review_list.html-->*/}}

{{ template "header.html" .}}

{{/*<!-- TITLE -->*/}}
{{ template "title.html" . }}

{{ template "review_filters.html" . }}

{{/*<!-- MAIN TABLE -->*/}}
<section class="main mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-require">
                    <thead class='rounded'>
                    <tr>
                        <th class='rounded-left'>Статус</th>
                        <th>Психолог</th>
                        <th>Задоволення від консультації</th>
                        <th>Оцінка психолога</th>
                        <th class='rounded-right'>Кількість консультацій</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $item := .data.items }}
                    <tr class="row-custom" data-href="/admin/review/{{ $item.id }}">
                        <td class='text-center pt-4 pb-4' >
                            {{ $status := $item.status }}
                            {{ with (eq $status "requested") }}
                            <p class="cell mb-0 table-require-cell table-cell-status created">Відгук очікується</p>
                            {{ end }}
                            {{ with (eq $status "completed") }}
                            <p class="cell mb-0 table-require-cell table-cell-status completed">Відповів</p>
                            {{ end }}
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0 pt-2">{{ $item.expert_username }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4 ml-5'>
                            {{ $item.consultation_review }}
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0 pt-2">{{ $item.expert_point }}</p>
                        </td>
                        <td class='text-left pt-4 pb-4' >
                            <p class="cell mb-0 pt-2">{{ $item.consultation_count }}</p>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                <div class="for-mobile">
                    {{ range $i, $item := .data.items }}
                    <div class="row-custom feedback mt-1 mb-3 " data-href="/admin/review/{{ $item.id }}">
                        <div class="about">
                            <ul class="about__list ml-3 mt-2 mb-2  mr-3 d-flex flex-column">
                                <li class="about__item d-flex mb-1 flex-column">
                                    <p class="item-title mb-0">Психолог</p>
                                    <a href="#" class="about__link mr-2">{{ $item.expert_username }}</a>  
                                </li>
                                <li class="about__item d-flex flex-column pl-2">
                                    <p class="item-title mb-0">Задоволення від консультації</p>
                                    {{ $item.consultation_review }}
                                </li>
                                <li class="about__item d-flex flex-column pl-2 ">
                                    <p class="item-title mb-0">Оцінка психолога</p>
                                    <div class="count">{{ $item.expert_point }}</div>
                                </li>
                                <li class="about__item d-flex flex-column pl-2">
                                    <p class="item-title mb-0">Кількість консультацій</p>
                                    <div class="count">{{ $item.consultation_count }}</div>
                                </li>
                            </ul>
                        </div>
                        {{ $status := $item.status }}
                        {{ with (eq $status "requested") }}
                        <div class='mt-3'> 
                            <p class="cell mb-0 table-require-cell ml-3 table-cell-status d-inline created">Відгук очікується</p>
                        </div>
                        {{ end }}
                        {{ with (eq $status "completed") }}
                        <div class='mt-3'> 
                            <p class="cell mb-0 table-require-cell ml-3 table-cell-status d-inline completed">Відповів</p>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="row d-flex justify-content-between">
                    {{ template "review_pagging.html" .pagination }}
                    <div class="col-12 col-lg-4">
                        <div class="all text-right">
                            <p>Всього вибрано: {{ .data.total }} заявок. <br>{{ .pagination.page.TotalPages }} сторінок</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer.html" . }}
            </div>
        </div>
    </div>
</section>

{{/*


<!-- CLIENTS -->
<!--
//:TODO у нас есть css, нужно с помощбю его делать моб версию. Можно конечно и так сделать, но это дублирование инфы
<section class="feedbacks">
    <div class="container">
        <div class="feedbacks__wrap">
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="psy mt-3 mb-3 pt-4">
                <div class="feedback__status ml-3 mr-5 mb-3 created">
                    Відгук очікується
                </div>
                <div class="feedback__status ml-3 mr-5 mb-3 completed">
                    Відповів
                </div>
                <div class="about">
                    <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                        <li class="about__item d-flex mb-3 flex-column">
                            <p class="item-title mb-0">Психолог</p>
                            <a href="#" class="about__link mr-2">Танюша Некрасова</a>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">Задоволення від консультації</p>
                            Так
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">оцінка психолога</p>
                            <div class="count">0</div>
                        </li>
                        <li class="about__item d-flex flex-column mb-3">
                            <p class="item-title mb-0">кількість консультацій</p>
                            <div class="count">0</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!-- reviewPAGGING -->

<!-- FOOTER -->
*/}}