<section class='app__title bg-white pt-3 pb-2'>
    <div class="container">
        <div class="row d-flex-lg flex-lg-row">
            <div class="title__arrow mb-4">
                <img class='arrow' src="static/styles/images/arrow_back.svg" alt="arrow_back" onclick="javascript:history.back()">
            </div>
            <div class="title__item col-12 col-lg-6">
                <h1 class="title">Заявки</h1>
            </div> 
            <!-- У психолога данный вариант  У админа вместо этого  admin__navigation.html-->
            
            <div class="me mt-2 col-12 col-lg-6 d-flex flex-column justify-content-end align-items-lg-end">
                <p class='me-prof mb-2'><span>Психолог</span></p>
                <p class="me-name">Вакуленко Роман</p>
            </div>
            <!-- ************************* -->
            
        </div>
    </div>
</section>
<section class='app__title pt-3 pb-2'>
    <div class="container">
        <div class="row ">
            <div class="title__item col-12 col-lg-6">
                <h1 class="title">Заявки</h1>
            </div> 
            <!-- Если Психолог то то что снизу, если Админ то admin__navigation -->
            <div class="me mt-2 col-12 col-lg-6 d-flex flex-column justify-content-end align-items-lg-end">
                <p class='me-prof mb-2'><span>Психолог</span></p>
                <p class="me-name">Вакуленко Роман</p>
            </div>
            <!-- ************************** -->
        </div>
    </div>
</section>