{{/*
<!--

//:TODO я так понял это для мобилки сделано?
<section class='app__title bg-white pt-3 pb-2'>
    <div class="container">
        <div class="row d-flex-lg flex-lg-row">
            <div class="title__arrow mb-4">
                <img class='arrow' src="static/styles/images/arrow_back.svg" alt="arrow_back" onclick="javascript:history.back()">
            </div>
            <div class="title__item col-12 col-lg-6">
                <h1 class="title">Заявки</h1>
            </div>
            &lt;!&ndash; У психолога данный вариант  У админа вместо этого  admin__navigation.html&ndash;&gt;

            <div class="me mt-2 col-12 col-lg-6 d-flex flex-column justify-content-end align-items-lg-end">
                <p class='me-prof mb-2'><span>Психолог</span></p>
                <p class="me-name">Вакуленко Роман</p>
            </div>
            &lt;!&ndash; ************************* &ndash;&gt;

        </div>
    </div>
</section>-->
*/}}
<section class='title-block pt-5 bg-white'>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="title__item">
                    <h1 class="title">{{ .metadata.title }}</h1>
                </div>
                <div class="all">
                    <p>Всього вибрано: {{ .data.total }} заявок.{{ .pagination.page.TotalPages }} сторінок</p>
                </div>
            </div>
            {{ if eq .metadata.role "expert" }}
            <div class="me col-12 col-lg-6 d-flex mb-auto flex-column justify-content-end align-items-lg-end">
                <p class='me-prof mb-2'><span>Психолог</span></p>{{/*<!--//:TODO тут хз, скорее всего так и остается. Мы все же под проверкой.--> */}}
                <p class="me-name">{{ .metadata.username }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
