
                <div class="col-12 col-lg-4">
                    <nav aria-label="footer__nav">
                        <ul class="pagination">
                            {{ if .page.IsFirst }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="">
                                    <img class='mt-1 ml-1' src="/static/styles/footer/first-page.svg" alt="">
                                </a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <a class="page-link h-100 text-center" href="/admin/expert{{ .firstQuery }}">
                                    <img class='mt-1 ml-1' src="/static/styles/images/footer/first-page.svg" alt="">
                                </a>
                            </li>
                            {{ end }}
                            {{ if .page.HasPrevious }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="/admin/expert{{ .prevQuery }}">
                                    <img class='mt-1 ml-1'src="/static/styles/images/footer/prev-page.svg" alt="">
                                </a>
                            </li>
                            {{ else }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="">
                                    <img class='mt-1 ml-1' src="/static/styles/images/footer/prev-page.svg" alt="">
                                </a>
                            </li>
                            {{ end }}
                            {{ range .page.Pages }}
                                {{ if ne .Num -1 }}
                                    {{ if .IsCurrent }}<li class="page-item"><a class="page-link h-100 text-center" href="#">{{ .Num }}</a></li>{{ end }}
                                {{ end }}
                            {{ end }}
                            {{ if .page.HasNext }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="/admin/expert{{ .nextQuery }}">
                                    <img class='mt-1 ml-1'src="/static/styles/images/footer/next-page.svg" alt="">
                                </a>
                            </li>
                            {{ else }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="#">
                                    <img class='mt-1 ml-1'src="/static/styles/images/footer/next-page.svg" alt="">
                                </a>
                            </li>
                            {{ end }}
                            {{ if .page.IsLast }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="#">
                                    <img class='mt-1 ml-1' src="/static/styles/images/footer/last-page.svg" alt="">
                                </a>
                            </li>
                            {{ else }}
                            <li class="page-item">
                                <a class="page-link h-100 text-center" href="/admin/expert{{ .lastQuery }}">
                                    <img class='mt-1 ml-1' src="/static/styles/images/footer/last-page.svg" alt="">
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
                






