<!-- FILTER SEARCH -->
<section class='filter mt-3'>
    <div class="container">
        <div class=" row filter__wrap">
            <div class="col-12">
                <div class="filter__btn d-flex flex-column justify-content-center">
                    <button type='button' class='filter-btn'>Фільтр</button>
                </div>
                <div class="filter__search mt-2">
                    <input class='form-control app-search' type="text" name="app-Search"
                        placeholder="ID, Ім'я або Телефон" value="{{ .queries.search }}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FILTER MODAL -->
<section class="modal">
    <div class="container">
        <div class="modal__wrap">
            <div class="modal__close">
                <img src="/static/styles/images/search/close.svg" class='close' alt="modal-close">
            </div>
            <div class="title__item mb-4">
                <h1 class="title">Фільтр</h1>
            </div>
            <div class="filter__form">
                <form class="form" action="/admin/expert" method="GET">
                    <div class="psy__status-filter mb-3">
                        <p class="psy__status-filter-title mb-0">Статус</p>
                        <select class="custom-select select psy__status-select" id="status" name="status" >
                            <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                            <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                            <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                            <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                        </select>
                    </div>
                    <div class="spec">
                        <p class="spec-title mb-0">Спеціалізація</p>
                        <select name="spec-app" class='select spec-select'>
                            {{ range $spec, $specOpt := .queries.specializations }}
                                <option {{ if $specOpt.Selected }} selected {{ end }} value="{{ $spec }}">{{ $specOpt.Translated }}</option>
                            {{ end }}

                        </select>
                    </div>
                    <div class="filter__btn d-flex flex-column justify-content-center mt-5">
                        <button type='button' class='filter-btn filter-search'>Пошук</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Filter DESKTOP -->
<section class='filter-desktop '>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form action="#" class='d-flex justify-content-between'>
                    <div class="filter__search mt-3 mr-3 w-100">
                        <p class="search-title filter-desktop-inp-title mb-2">Пошук</p>
                        <input class='form-control app-search' type="text" name="app-Search" value="{{ .queries.search }}">
                    </div>
                    <div class="status mr-3 mt-3 mb-2 mr-0 w-100">
                        <p class="status-title mb-2 filter-desktop-inp-title">Статус</p>
                        <select id="status" name="status" class='select status-select form-control'>
                            <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                            <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                            <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                            <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                        </select>
                    </div>
                    <div class="spec mt-3 mb-0 mr-3 w-100">
                        <p class="spec-title mb-2 filter-desktop-inp-title">Спеціалізація</p>
                        <select multiple class="custom-select select spec-select form-control" id="specializations" name="specializations">
                            {{ range $spec, $specOpt := .queries.specializations }}
                                <option {{ if $specOpt.Selected }} selected {{ end }} value="{{ $spec }}">{{ $specOpt.Translated }}</option>
                            {{ end }}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>