{{ template "header.html" .}}
    <!-- TITLE -->
    <section class='app__title pt-5 bg-white'>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="title__item">
                        <h1 class="title">Заявки</h1>
                    </div>
                    <nav class="menu mt-4">
                        <ul class="nav menu__list d-flex justify-content-between">
                            <li class="nav-item menu__item ">
                                <a href="#" class="nav-link menu--link menu--link--active pb-2">Заявки</a>
                            </li>
                            <li class="nav-item menu__item">
                                <a href="static/styles/Psychologists/psy.html" class="nav-link menu--link pb-2">Психологи</a>
                            </li>
                            <li class="nav-item menu__item">
                                <a href="static/styles/Feedbacks/feedbacks.html" class="nav-link menu--link pb-2">Відгуки</a>
                            </li>
                            <li class="nav-item menu__item">
                                <a href="static/styles/Rate/rate.html" class="nav-link menu--link pb-2">Рейтинг</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- FILTER SEARCH -->

    {{ template "requisition_filters.html" . }}

    <!-- MAIN TABLE -->
    <section class="main mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-require">
                        <thead>
                            <tr>
                                <th class=''>Спеціалізація</th>
                                <th>Ім'я</th>
                                <th>Стать</th>
                                <th>Телефон</th>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody class='col-lg-12'>
                            {{ range $i, $item := .data.items }}
                            <tr>
                                <td class="text-center border-0 pt-4 pb-4 text-white" data-href="/admin/requisition/{{ $item.id }}">
                                    <p class='cell specialization table-require-cell mb-0'>{{ $item.diagnosis }}</p>
                                </td>
                                <td class='text-center border-0 pt-4 pb-4' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 pt-2" >
                                        <a href="#" class='name cell'>{{ if (ne $item.username "") }}{{ $item.username }}{{ else }}Недоступно{{ end }}</a>
                                    </p>
                                </td>
                                {{ $gender := $item.gender }}
                                {{ with (eq $gender "female") }}<td class='text-center border-0 pt-4 pb-4 d-flex align-items-center justify-content-center' data-href="/admin/requisition/{{ $item.id }}">
                                    <span class='gender mb-0'>жін.</span>
                                </td>{{ end }}
                                {{ with (eq $gender "male") }}<td class='text-center border-0 pt-4 pb-4 d-flex align-items-center justify-content-center' data-href="/admin/requisition/{{ $item.id }}">
                                    <span class='gender mb-0'>Чол.</span>
                                </td>{{ end }}
                                <td class='text-center border-0 pt-4 pb-4' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 pt-2 phone">{{ if (ne $item.phone "") }}{{ $item.phone }}{{ else }}Недоступно{{ end }}</p>
                                </td>
                                <td class='text-center border-0 pt-4 pb-4' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 pt-2">{{ $item.created_at }}</p>
                                </td>
                                {{ $status := $item.status }}
                                {{ with (eq $status "created") }}<td class='text-center border-0 d-flex align-items-center justify-content-center  ml-3' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel">Не в роботі</p>
                                </td>{{ end }}
                                {{ with (eq $status "processing") }}<td class='text-center border-0 d-flex align-items-center justify-content-center  ml-3' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel">В роботі</p>
                                </td>{{ end }}
                                {{ with (eq $status "completed") }}<td class='text-center border-0 d-flex align-items-center justify-content-center  ml-3' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel"> Виконаний</p>
                                </td>{{ end }}
                                {{ with (eq $status "no_answer") }}<td class='text-center border-0 d-flex align-items-center justify-content-center  ml-3' data-href="/admin/requisition/{{ $item.id }}">
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel">Не актуально</p>
                                </td>{{ end }}
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- CLIENTS -->
    <section class="app__clients">
        <div class="container">
            <div class="clients__wrap">
                {{ range $i, $item := .data.items }}
                <div class="client mt-3 mb-3 pt-4">
                    <div class="reason ml-3 mr-5" data-href="/admin/requisition/{{ $item.id }}">
                        {{ $item.diagnosis }}
                    </div>
                    <div class="about">
                        <ul class="about__list ml-3 mt-2 mb-2 d-flex flex-column">
                            <li class="about__item d-flex mb-1 align-items-center" data-href="/admin/requisition/{{ $item.id }}">
                                <img src="static/styles/images/about/about-man.svg" class='menu--icon mr-3'
                                    alt="about-icon-person">
                                <p class="cell mb-0 pt-2">
                                    <a href="#" class="about__link name-mob  mr-2">
                                        {{ if (ne $item.username "") }}{{ $item.username }}{{ else }}Недоступно{{ end }}
                                    </a>
                                </p>
                                <div class="gender">
                                {{ $gender := $item.gender }}
                                {{ with (eq $gender "female") }}
                                    <span class='gender mb-0' data-href="/admin/requisition/{{ $item.id }}">жін.</span>
                                {{ end }}
                                {{ with (eq $gender "male") }}
                                    <span class='gender mb-0' data-href="/admin/requisition/{{ $item.id }}">Чол.</span>
                                {{ end }}
                                </div>
                            </li>
                            <li class="about__item d-flex mb-2" data-href="/admin/requisition/{{ $item.id }}">
                                <img src="static/styles/images/about/about-phone.svg" class='menu--icon mr-2'
                                    alt="about-icon-phone">
                                <a href="#" class="about__link">{{ if (ne $item.phone "") }}{{ $item.phone }}{{ else }}Недоступно{{ end }}</a>
                            </li>
                            <li class="about__item d-flex mb-2" >
                                <img src="static/styles/images/about/about-cal.svg" class='menu--icon mr-3'
                                    alt="about-icon-calendar">
                                <a href="#" class="about__link">{{ $item.created_at }}</a>
                            </li>
                        </ul>
                        <div class="button d-f d-flex align-items-center justify-content-centerlex justify-content-start ml-3">
                            {{ $status := $item.status }}
                                {{ with (eq $status "created") }}
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel" data-href="/admin/requisition/{{ $item.id }}">Не в роботі</p>
                                {{ end }}
                                {{ with (eq $status "processing") }}
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel" data-href="/admin/requisition/{{ $item.id }}">В роботі</p>
                                {{ end }}
                                {{ with (eq $status "completed") }}
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel" data-href="/admin/requisition/{{ $item.id }}"> Виконаний</p>
                                {{ end }}
                                {{ with (eq $status "no_answer") }}
                                    <p class="cell mb-0 table-require-cell table-cell-status search-status-sel" data-href="/admin/requisition/{{ $item.id }}">Не актуально</p>
                                {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
            {{ end }}
    <section class="pagination-section">
        <div class="container">
            <div class="row d-flex justify-content-between">
                {{ template "requisition_pagging.html" .pagination }}
                <div class="col-12 col-lg-4">
                    <div class="all text-right">
                        <p>Всього вибрано: 1263 заявок. <br>127 сторінок</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ template "footer.html" . }}