<!--expert_list.html-->

{{ template "header.html" .}}

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="display-flex align-center">
                <h5 class="m-0 font-weight-bold">Психологи</h5>
                <div class="ml-auto display-flex align-center">
                    <form class="form-inline" action="/admin/expert" method="GET">
                        <label class="my-1 mr-2" for="status">Статус</label>
                        <select class="custom-select my-1 mr-sm-2" id="status" name="status">
                            <option {{ if (eq .queries.status "") }} selected {{ end}} value="">Всі</option>
                            <option {{ if (eq .queries.status "on_review") }} selected {{ end}} value="on_review">На модерації</option>
                            <option {{ if (eq .queries.status "blocked") }} selected {{ end}} value="blocked">Заблокований</option>
                            <option {{ if (eq .queries.status "active") }} selected {{ end}} value="active">Активний</option>
                        </select>

                        <label class="my-1 mr-2" for="specializations">Спеціалізації </label>
                        <select multiple class="custom-select my-1 mr-sm-2" id="specializations" name="specializations">
                            {{ range $spec, $specOpt := .queries.specializations }}
                                <option {{ if $specOpt.Selected }} selected {{ end }} value="{{ $spec }}">{{ $specOpt.Translated }}</option>
                            {{ end }}
                        </select>

                        <button type="submit" class="btn btn-primary my-1">Вибрати</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-secondary" role="alert">
                Всього вибрано: {{ .data.total }} психологів. {{ .pagination.page.TotalPages }} сторінок.
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Стать</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $item := .data.items }}
                    <tr>
                        <td>{{ $item.username }}</td>
                        {{ $gender := $item.gender }}
                        {{ with (eq $gender "male") }}<td class="text-center"><span class="badge badge-pill badge-info">Чол.</span></td>{{ end }}
                        {{ with (eq $gender "female") }}<td class="text-center"><span class="badge badge-pill badge-primary">Жін.</span></td>{{ end }}
                        <td>{{ $item.phone }}</td>
                        <td>{{ $item.email }}</td>
                        {{ $status := $item.status }}
                        {{ with (eq $status "on_review") }}<td class="text-center"><span class="badge badge-pill badge-warning">На модерації</span></td>{{ end }}
                        {{ with (eq $status "blocked") }}<td class="text-center"><span class="badge badge-pill badge-danger">Заблокований</span></td>{{ end }}
                        {{ with (eq $status "active") }}<td class="text-center"><span class="badge badge-pill badge-success">Активний</span></td>{{ end }}

                        <td class="text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#expertDetails{{ $i }}">Деталі</button>
                            <a class="btn btn-secondary btn-sm {{ if (eq $item.status "blocked")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="blockExpertAPI(this)" role="button">Блокувати</a>
                            <a class="btn btn-success btn-sm {{ if (eq $item.status "active")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="activateExpertAPI(this)" role="button">Активувати</a>
                            <!-- Modal -->
                            <div class="modal fade" id="expertDetails{{ $i }}" tabindex="-1" role="dialog" aria-labelledby="expertDetailsTitle{{ $i }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="expertDetailsTitle{{ $i }}">Профіль - {{ $item.username }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <dl class="row" >
                                                <dt class="col-sm-3 text-sm-left">ID</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.id }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Ім'я</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.username }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Стать</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    {{ with (eq $gender "male") }}<span class="badge badge-pill badge-info">Чол.</span>{{ end }}
                                                    {{ with (eq $gender "female") }}<span class="badge badge-pill badge-primary">Жін.</span>{{ end }}
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Телефон</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.phone }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Email</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.email }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Пароль</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p class="alert" id="changePasswordBlock-{{ $item.id }}" role="alert"><p>
                                                    <div class="input-group mb-3">
                                                        <input type="password" class="form-control" id="pwd-{{ $item.id }}">
                                                        <div class="input-group-append">
                                                            <a class="btn btn-secondary" data-expert-id="{{ $item.id }}" onclick="changePasswordExpertAPI(this)" role="button">Змінити пароль</a>
                                                        </div>
                                                    </div>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Освіта</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.education }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Спеціалізації</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <ul>
                                                    {{ range $item.specializations}}
                                                        <li><span class="badge badge-pill badge-primary">{{ . }}</span></li>
                                                    {{ end }}
                                                    </ul>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Статус</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    {{ with (eq $status "on_review") }}<span class="badge badge-pill badge-warning" id="expert-{{ $item.id }}-status">На модерації</span>{{ end }}
                                                    {{ with (eq $status "blocked") }}<span class="badge badge-pill badge-danger" id="expert-{{ $item.id }}-status">Заблокований</span>{{ end }}
                                                    {{ with (eq $status "active") }}<span class="badge badge-pill badge-success" id="expert-{{ $item.id }}-status">Активний</span>{{ end }}
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Заявок в роботі</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.processing_count }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Заявок завершено</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.completed_count }}</p>
                                                </dd>
                                                <dt class="col-sm-3 text-sm-left">Дата реєстрації</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <p>{{ $item.created_at }}</p>
                                                </dd>

                                                <dt class="col-sm-3 text-sm-left">Документи</dt>
                                                <dd class="col-sm-9 text-sm-left">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div id="mdb-lightbox-ui"></div>
                                                            <div class="mdb-lightbox">
                                                                {{ range $item.document_urls}}
                                                                    <figure class="col-md-12">
                                                                        <a href="{{ . }}">
                                                                            <img alt="picture" src="{{ . }}" class="img-fluid">
                                                                        </a>
                                                                    </figure>
                                                                {{ end }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                                            <a class="btn btn-danger" data-expert-id="{{ $item.id }}" onclick="deleteExpertAPI(this)" role="button">Видалити</a>
                                            <a class="btn btn-secondary {{ if (eq $item.status "blocked")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="blockExpertAPI(this)" role="button">Блокувати</a>
                                            <a class="btn btn-success {{ if (eq $item.status "active")}} disabled{{ end }}" data-expert-id="{{ $item.id }}" onclick="activateExpertAPI(this)" role="button">Активувати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                {{ template "expert_pagging.html" .pagination }}
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" . }}
