<!-- requisition_list.html-->

{{ template "header.html" .}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            {{ template "requisition_filters.html" . }}
        </div>

        <div class="col-sm-9">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="panel-title">Заявки</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-secondary" role="alert">
                        Всього вибрано: {{ .data.total }} заявок. {{ .pagination.page.TotalPages }} сторінок.
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Ім'я</th>
                                <th>Стать</th>
                                <th>Телефон</th>
                                <th>Спеціалізація</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $i, $item := .data.items }}
                                <tr class="table-row">
                                    <td class="table-div" data-href="/admin/requisition/{{ $item.id }}">{{ if (ne $item.username "") }}{{ $item.username }}{{ else }}Недоступно{{ end }}</td>
                                    {{ $gender := $item.gender }}
                                    {{ with (eq $gender "male") }}<td class="text-center table-div" data-href="/admin/requisition/{{ $item.id }}"><span class="badge badge-pill badge-info">Чол.</span></td>{{ end }}
                                    {{ with (eq $gender "female") }}<td class="text-center table-div" data-href="/admin/requisition/{{ $item.id }}"><span class="badge badge-pill badge-primary">Жін.</span></td>{{ end }}
                                    <td class="table-div" data-href="/admin/requisition/{{ $item.id }}">{{ if (ne $item.phone "") }}{{ $item.phone }}{{ else }}Недоступно{{ end }}</td>
                                    <td class="table-div" data-href="/admin/requisition/{{ $item.id }}"><span class="badge badge-pill badge-primary">{{ $item.diagnosis }}</span></td>

                                    {{ $status := $item.status }}
                                    {{ with (eq $status "created") }}<td class="text-center table-div" data-href="/admin/requisition/{{ $item.id }}"><span class="badge badge-pill badge-warning">Не в роботі</span></td>{{ end }}
                                    {{ with (eq $status "processing") }}<td class="text-center table-div" data-href="/admin/requisition/{{ $item.id }}"><span class="badge badge-pill badge-info">В роботі</span></td>{{ end }}
                                    {{ with (eq $status "completed") }}<td class="text-center table-div" data-href="/admin/requisition/{{ $item.id }}"><span class="badge badge-pill badge-success">Виконаний</span></td>{{ end }}

                                    <td class="text-center">
                                        <a class="btn btn-secondary {{ if (eq $item.status "processing") }} disabled{{ end }}" data-requisition-id="{{ $item.id }}" onclick="takeRequisitionAPI(this)" role="button">Взяти</a>
                                        <a class="btn btn-success {{ if (eq $item.status "completed") }} disabled{{ end }}" data-requisition-id="{{ $item.id }}" onclick="completeRequisitionAPI(this)" role="button">Завершити</a>
                                    </td>
                                </tr>
                            {{ end }}
                            </tbody>
                        </table>
                        {{ template "requisition_pagging.html" .pagination }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" . }}
